.sorter-container {
    display: flex;
    flex-direction: row;

    .costs {
        width: 30%;
        height: 600px;
        overflow-y: auto;
        text-align: left;
        border: 1px solid black;

        .cost-row {
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
            cursor: pointer;

            &.selected {
                background-color: greenyellow;
            }
        }
    }

    .cost-editor {
        width: 70%;
        padding: 10px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;

        .cost-details {
            height: 50%;

            .special-headers {
                display: flex;
                margin: 20px 0;

                > div {
                    width: 33%;
                }

                .amount,
                .date {
                    font-size: 200%;
                }
            }
        }

        .cost-category-picker {
            height: 50%;

            button {
                font-size: x-large;
                margin: 10px;
            }
        }
    }
}
