

.header-picker {
    ul {
        margin: 0;
        text-align: left;

        li {
            list-style: none;
            padding: none;
            display: flex;
            flex-direction: row;

            &.selected {
                background-color: rgba(37, 244, 137, 0.708);
            }

            label {
                flex: 1;
            }

            .button-container {
                display: flex;
                flex-direction: row;
                gap: 10px;

                button {
                    padding: 5px 10px;
                    margin: 10px 0;
                }
            }
        }
    }
}
